*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body{
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    background: radial-gradient(#3e4261,#333232);;
}

.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #19dafa;
    cursor: pointer;
}
.logo{
    width: 60px;
    margin-top: -10px;
    margin-right: 48px;
}
.signup{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: lightpink;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#3e4261,#333232),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.signup span{
    display: block;
    padding: 8px 22px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: rgb(243, 220, 220);
}
.app-text{
    width: 50%;
    float: left;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}
.app-text p{
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: rgb(214, 208, 208);
}
.app-picture{
    width: 75%;
    float: right;
}
.app-picture img{
    width: 100%;
    margin-top: -40%;
    padding-left: 165px;
}
.play-btn{
    margin-left: 40px;
    margin-top: 0px;
    display: inline-flex;
}
.play-btn-in{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
    cursor: pointer;
}
.play-btn-in .fa{
    padding: 14px 0;
    font-size: 22px;
    color: lightpink;
    cursor: pointer;
}
small{
    margin: auto 20px;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 3px;
}
.social-icons{
    right: 72px;
    bottom: 35px;
    position: absolute;
}
.social-icons ul li{
    list-style: none;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.social-icons ul li a{
    color: rgb(196, 41, 41);
    border-radius: 50%;
    border: 2px solid rgb(186, 47, 190);
    padding: 12px;
    display: block;
}
.video {
    width: 560px;
    height: 315px;
    margin-left: 85%;
    margin-top: -20%;
    float: left;
}

iframe{
    float: left;
    margin-top: -20px;
    padding-left: 60%;
}
@media screen and (max-width: 320px){
    .app-text p{
        font-size: 18px;
    }
}
    .video{
        margin-left: 50%;
        margin-top: -40%;
        float: middle;
    }
    .iframe{
        float: middle;
        margin-top: -40px;
        padding-left: 30%;
    }
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}